body{
    height: 100%;
    width: 100%;
    display: block;
    margin: 0;
    font-family: sans-serif;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.headd{
    width: 100%;
    height: 70px;
    background: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 151;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 70px;
    background: #000000;
}

.navsearch {
	
    height: 20px;
    border-radius:40px;
    background: transparent;    
}

.nav__search-input{ 
    height: 30px;
        font-size: 10px;
        color: #000000;
        width: 195px;
        border: none;
       
    }
    
    .navsearch-btn {
        float: left;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-decoration: none;
    }
    
    .nav__search_txt {
        border: none;
        background: none;
        outline: none;
        color: #fff;
        width:0;
        transition: 0.4s;
        font-size: 1.2rem;
        line-height: 30px;
        text-decoration: underline;
    }
    
    .fa-search {
        color: #fff;
    }

    .fa-search:hover {
        color: #ffffff;
        background: transparent;
    }

    .navsearch:hover > .nav__search_txt {
    width: 160px;
    padding: 0 6px;
}

.navsearch:hover > .navsearch-btn {
    background: transparent;
}

.login{
    background: transparent;
    font-size: 20px;
    color: rgb(175, 175, 175);
    font-family: sans-serif;
}

.cybersec{
    background: transparent;
    font-size: 20px;
    color: rgb(175, 175, 175);
}

.recomend{
    background: transparent;
    font-size: 20px;
    color: rgb(175, 175, 175);
}


.contacts{
    background: transparent;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}


.cybersec:hover{
    color: rgb(255, 255, 255);
}

.recomend:hover{
    color: rgb(255, 255, 255);
}


.contacts:hover{
    color: rgb(255, 255, 255);
}


.login:hover{
    color: rgb(255, 255, 255);
}

.bambuk{
    background-color: #2AA5A0;
    background-image: linear-gradient(90deg, #ff0011, #0011ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: 500;
    position: absolute;
    left: 10px;
}

.first{
    margin-top: 32px;
    height: 500px;
    width: 100%;
    background: url('images/firstbg.jpg');
    background-position: center;
    background-size: 100% 500px;
}

.wtf{
    color:rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 500;
    margin-left: 50px;
    margin-top: 150px;
}

.container {
    width: 1110px;
    margin: 0 auto;
}


.types2{
    font-size: 50px;
    font-weight: 400;
    text-transform: none;
    line-height: 1.2;
    text-align: center;
    margin-top: 100px;
}


.c-link{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 2.2rem;
    border-bottom: none;
    color: #007aff;
    text-decoration: none;
}

.cont__wrapper{
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: 300px 380px 200px 330px;
    
    column-gap: 30px;
    margin-left: -100px;
}

.cont__item{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}