.body {
    background-color: #111397;
}

.bambuk_btn {
    background-color: rgb(255, 237, 102);
    width: 130px;
    height: 50px;
    position: absolute;
    top: 360px;
    left: 161px;
}

.bamb_icon {
    position: absolute;
    left: 139px;
    top: 20px;
    size: 200px 200px;
    z-index: -1;
}

.bamb_text {
    font-size: 1em;
    font-weight: 1em;
   

}

.bamb_text1 {
    width: 300px;
    position: absolute;
    top: 200px;
    left: 103px;
}
