.body {
    background-color: #111397;
}

.bambuk_btn {
    background-color: rgb(255, 237, 102);
}

.store__icons__wrapper {
    display: grid;
    grid-template-columns: 185px;
    grid-template-rows: 185px 185px 185px; 
    row-gap: 500px;
    position: absolute;
    left: 118px;
    top: 20px;
}

.icons__item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

#one1 {
    background-image: url('images.png')
}

#two1 {
    background-image: url('es.png')
}

#three1 {
    background-image: url('kinoplay.png')
}


.store__text__wrapper {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 185px 185px 185px; 
    row-gap: 500px;
    position: absolute;
    top: 200px;
    left: 85px;
}

.text__item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.store__buttons__wrapper {
    display: grid;
    grid-template-columns: 130px;
    grid-template-rows: 50px 50px 50px; 
    row-gap: 500px;
    position: absolute;
    top: 400px;
    left: 144px;
}

.buttons__item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

#two3 {
    position: absolute;
    top: 690px;
}

#three3 {
    position: absolute;
    top: 1360px;
}