* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header__icon2 {
    margin-left: 30px;
}

header {
    position: absolute;
    height: 60px;
    margin: 0 auto;
    width: 100%;
    left: 0px;
    background: #3f3f3f;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.header__navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header__link {
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    margin-right: 40px;
    text-decoration: none;
}
.header__link:last-child {
    margin: 0;
}

.header__link:hover {
    color: #a6a2a2;
}

.promo {
    min-height: 695px;
    background: url("images/bg1.png") center center/cover no-repeat;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.navsearch {
	
    height: 20px;
    border-radius:40px;
    background: transparent;    
}

.nav__search-input{ 
    height: 30px;
        font-size: 10px;
        color: #000000;
        width: 195px;
        border: none;
       
    }
    
    .navsearch-btn {
        float: left;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-decoration: none;
        color: #ffffff;
    }
    
    .nav__search_txt {
        border: none;
        background: none;
        outline: none;
        color: #fff;
        width:0;
        transition: 0.4s;
        font-size: 1.2rem;
        line-height: 30px;
    }
    
    .fa-search {
        color: #fff;
    }

    .fa-search:hover {
        color: #21212100;
        background: transparent;
    }

    .navsearch:hover > .nav__search_txt {
    width: 160px;
    padding: 0 6px;
}

.navsearch:hover > .navsearch-btn {
    background: transparent;
}

.header__autorisation {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header__login {
    margin-right: 50px;
    color: #fff;
}

.ddb {
    margin-bottom: 50px;
    margin-left: 420px;
    color: #fff;
    font-family: 'Noto Serif';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 49px;
}

.KI-btn {
    margin-left: 470px;
    margin-bottom: 100px;
    font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 15px;
color: #fff;
background-color: #333333;
width: 191px;
height: 31px;
border: 1px solid #FFFFFF;
}

.KI-btn:active {
    background-color: red;
}

.first__hr {
    margin-bottom: 14px;
    margin-left: -127px;
    border: 1px solid #9b9b9b;
    width: 1355px;
height: 0px;
}

.markets__buttons_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 50px;
    position: absolute;
    top: 100px;
    left: 280px;
}

.dropbtn {
    
    background-color: #ffffff;
    color: #333333;
    padding: 16px;
    font-size: 16px;
    border: none;
  width: 120px;
  height: 20px;
  text-align: center;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #848484;
}

.slow{
    display: block;
    
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.slow{
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.things{
    min-height: 1000px;
}

.thing__wrapper, .thing__wrapper2{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 400px;
    margin-left: 240px;
}

.thing__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.katalog-hr{
    width: 1000px;
    margin-left: 150px;
}

.tovar-text1{
    margin-top: 30px;
    font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 13px;
color: #646464;
}

.tovar-text2{
    margin-top: 30px;
    font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 24px;
color: #333333;

}

.cost{
    width: 130px;
    height: 50px;
    background: #333333;
    color: #ffffff;
    font-size: 15px;
    border: none;
    margin-top: 30px;
}

.cost:hover{
    background: transparent;
    border: 1px solid #333333;
    color: #000000;
}

.cost:active{
    background: #333333;
    color: #ffffff;
    border: none;
}

.etc{
    margin-top: 120px;
    width: 230px;
    height: 50px;
    background: #333333;
    color: #ffffff;
    font-size: 15px;
    border: none;
    margin-top: 30px;
    margin-left: 580px;
}

.seo-text{
    min-height: 100px;
}

.text-seo {
    position: relative;
    margin-top: 200px;
  }
  .text-seo::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 405px;
      height: 27px;
      background: linear-gradient( rgba(245, 242, 242, 0.24), whitesmoke );
      pointer-events: none;
  }
  .text-seo2 {
      overflow-y: scroll;
      background: #f7f7f7;
      width: 400px;
      height: 200px;
      padding: 20px;
      line-height: 1.3;
  }

  .seo{
    font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 15px;
color: #333333;

  }


  .icons__wrapper{
    display: grid;
    grid-template-columns: 110px 110px;
    grid-template-rows:  133px 133px;
    margin-left: 600px;
    margin-top: -185px;
    column-gap: 40px;
    row-gap: 20px;
  }

  .icon__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
   
  }

  .subscribe{
    min-height: 300px;
    background-image: url('images/Rectanglesub.svg');
}

.sub__header{
    font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 17px;
color: #fff;
margin-left: 420px;
position: absolute;
top: 1960px;
}

.sub__header1{
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #fff;
    margin-left: 450px;
    position: absolute;
    top: 2010px;
}

.sub-img{
    width: 220px;
    height: 80px;
    margin-top: 150px;
    margin-left: 270px;
}

.sub-imp{
    border: 1px solid #ffffff;
    width: 320px;
    height: 80px;
    margin-left: 562px;
    margin-top: -78px;
}

.sub-span{
    background: #ffffff;
    width: 300px;
    height: 60px;
    margin-top: 9px;
    margin-left: 9px;
    display: flex;
    flex-direction: row;
    align-items: center;
}



.sub-inp{
    width: 130px;
    height: 40px;
    margin: 9px 10px;
    border: 1px solid #d6d6d6;
}

.sub-btn{
    width: 140px;
    height: 40px;
    background: #333333;
    color: #fff;
    border: none;
}

.sub-btn:active{
    border: 2px solid #000000;
    background: transparent;
    color: #000000;
}


.futer{
    min-height: 200px;
}

.fut__header{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.fut_head_text{
    font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 19px;
}

.fut_lines{
    display:flex;
    flex-direction: row;
    margin-top: 7px;
    margin-left: 150px;
}

.fut-lines{
    border: 1px solid #818181;
    width: 220px;
height: 1px;
}


#futline{
    margin-left: -51px;
}

#futline0{
    margin-left: 168px;
}

#futline1{
    margin-left: 55px;
}

#futline2{
    margin-left: 82px;
}


.fut__wrapper{
    display: grid;
    grid-template-columns: 220px 220px 107px 134px;
    grid-template-rows: 300px;
    row-gap: 5px;
    column-gap: 168px;
    margin-left: 99px;
}

.fut__items {
    display: flex;
    align-items: center;
    justify-content: center;
}

#fut-item1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#fut-item2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#fut-item3{
    margin-left: -113px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

#fut-item4{
    margin-left: -86px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.fut-col1{
    font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 13px;
color: #333;
}

.fut-col2{
   margin-top: 13px;
    font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 13px;
color: #333;
}

.pay{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.mastercard{
    margin-left: 15px;
}

.suptext{
    text-decoration: none;
    color: #333333;
}

.suptext:hover{
    color: blue;
}

.mail{
    text-decoration: none;
    color: #333333;
    margin-top: -5px;
}

.mail:hover{
    color: blue;
}

.icons-fut{
    display: flex;
    flex-direction: column;

}

.call-mail{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.icons-fut:first-child{
    padding-top: 18px;
}

.suptext:first-child{
    padding-top: 18px;
}

.two{
    margin-top: -4px;
}

.ss-text {
    width: 255px;
height: 65px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #333;
    margin-top: 13px;
}


.ss-icons{
    width: 200px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.youtube{
    width: 25px;
    height: 25px;
background: url('images/youtube.svg');
background-repeat: no-repeat;
background-position: center center;
border: none;
}

.vk{   
    width: 25px;
    height: 25px;
    background: url('images/vk.svg');background-repeat: no-repeat;background-position: center center;
    border: none;
}

.facebook{
    background: url('images/facebook.svg');background-repeat: no-repeat;  
    width: 25px;
    height: 25px;
    background-position: center center;
    border: none;
}

.telegram{
    background: url('images/telegram.svg');background-repeat: no-repeat;   
    width: 25px;
    height: 25px;
    background-position: center center;
    border: none;
}

.etsy{
    background: url('images/etsy.svg');  background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    background-position: center center;
    border: none;
}

.endh3{
    width: 1000px;
    border: 1px solid #818181;
    margin-top: -70px;
    margin-left: 180px;
}

.end-end{
    width: 1000px;
    height: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 180px;
    margin-top: 5px;
}

.end-text{
    font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 12px;
color: #333333;
}

.end-text1{
    font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 12px;
color: #333333;
text-decoration-line: underline;
}
