@media all and (max-width:440px){
    .container{
     width:100%;
    } 

  
 
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
      }
      @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
      }
      @-webkit-keyframes checked-anim {
        50% {
          width: 3000px;
          height: 3000px;
        }
        100% {
          width: 100%;
          height: 100%;
          border-radius: 0;
        }
      }
      @keyframes checked-anim {
        50% {
          width: 3000px;
          height: 3000px;
        }
        100% {
          width: 100%;
          height: 60%;
          border-radius: 0;
        }
      }
      @-webkit-keyframes not-checked-anim {
        0% {
          width: 3000px;
          height: 3000px;
        }
      }
      @keyframes not-checked-anim {
        0% {
          width: 3000px;
          height: 3000px;
        }
      }
      li,
      a {
        margin: 75px 0 -55px 0;
        color: #ffffff;
        font: 14pt "Roboto", sans-serif;
        font-weight: 700;
        line-height: 1.8;
        text-decoration: none;
        text-transform: none;
        list-style: none;
        outline: 0;
        display: none;
      }
      li {
        width: 230px;
        text-indent: 56px;
      }
      a:hover {
        display: block;
        color: #333;
        background-color: rgb(255, 255, 255);
        transition: all 0.5s;
      }
    
      a:active {
        display: block;
        color: #333;
        background-color: transparent;
        transition: all 0.5s;}
    
      aside {
        position: absolute;
        color: white;
        top: 35%;
        right: 10%;
        text-align: right;
      }
      
    
      #trigger,
      #burger,
      #burger:before,
      #burger:after {
        position: absolute;
        top: 40px;
        left: 30px;
        background: #ffffff;
        width: 30px;
        height: 5px;
        transition: 0.2s ease;
        cursor: pointer;
        z-index: 1;
      }
      #trigger {
        height: 25px;
        background: none;
      }
      #burger:before {
        content: " ";
        top: 10px;
        left: 0;
      }
      #burger:after {
        content: " ";
        top: 20px;
        left: 0;
      }
      #menu-toggle:checked + #trigger + #burger {
        top: 35px;
        transform: rotate(180deg);
        transition: transform 0.2s ease;
      }
      #menu-toggle:checked + #trigger + #burger:before {
        width: 20px;
        top: -2px;
        left: 18px;
        transform: rotate(45deg) translateX(-5px);
        transition: transform 0.2s ease;
      }
      #menu-toggle:checked + #trigger + #burger:after {
        width: 20px;
        top: 2px;
        left: 18px;
        transform: rotate(-45deg) translateX(-5px);
        transition: transform 0.2s ease;
      }
      #menu {
        
        position: absolute;
        top: 0;
        left: 0;
        width: 90px;
        height: 90px;
        background-color: rgb(0, 0, 0);
        border-bottom-right-radius: 100%;
        
        -webkit-animation: not-checked-anim 0.2s both;
                animation: not-checked-anim 0.2s both;
        transition: 0.2s;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
      }
      #menu-toggle:checked + #trigger + #burger + #menu {
        -webkit-animation: checked-anim 1s ease both;
                animation: checked-anim 1s ease both;
      }
      #menu-toggle:checked + #trigger ~ #menu > li,
      a {
        display: block;
      }
      [type="checkbox"]:not(:checked),
      [type="checkbox"]:checked {
        display: none;
      }

      

      .headd{
        width: 440px;
        height: 90px;
        background: #000000;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }
    
    .header{
        display: none;
        
    }
    
    .navsearch {
        
        height: 20px;
        border-radius:40px;
        background: transparent;    
    }
    
    .nav__search-input{ 
        height: 30px;
            font-size: 10px;
            color: #000000;
            width: 195px;
            border: none;
           
        }
        
        .navsearch-btn {
            float: left;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            text-decoration: none;
        }
        
        .nav__search_txt {
            border: none;
            background: none;
            outline: none;
            color: #fff;
            width:0;
            transition: 0.4s;
            font-size: 1.2rem;
            line-height: 30px;
            text-decoration: underline;
        }
        
        .fa-search {
            color: #fff;
        }
    
        .fa-search:hover {
            color: #ffffff;
            background: transparent;
        }
    
        .navsearch:hover > .nav__search_txt {
        width: 160px;
        padding: 0 6px;
    }
    
    .navsearch:hover > .navsearch-btn {
        background: transparent;
    }
    
    .login{
        background: transparent;
        font-size: 20px;
        color: rgb(175, 175, 175);
        font-family: sans-serif;
    }
    
    .cybersec{
        background: transparent;
        font-size: 30px;
        border: none;
        color: rgb(175, 175, 175);
    }
    
    .recomend{
        background: transparent;
        font-size: 30px;
        color: rgb(255, 255, 255);
        text-decoration: underline;
        border: none;
    }
    
    
    .contacts{
        background: transparent;
        font-size: 30px;
        color: rgb(175, 175, 175);
        border: none;
    }
    
    
    .cybersec:hover{
        color: rgb(255, 255, 255);
    }
    
    .recomend:hover{
        color: rgb(255, 255, 255);
    }
    
    
    .contacts:hover{
        color: rgb(255, 255, 255);
    }
    
    
    .login:hover{
        color: rgb(255, 255, 255);
    }
    
    .bambuk{
        background-color: #2AA5A0;
        background-image: linear-gradient(90deg, #ff0011, #0011ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 40px;
        font-weight: 500;
        position: absolute;
        left: 290px;
    }
    
    .first{
        margin-top: 54px;
        height: 241px;
        width: 100%;
        background: url('images/firstbg.jpg');
        background-position: center;
        background-size: 100% 241px;
    }
    
    .wtf{
        color:rgb(255, 255, 255);
        font-size: 40px;
        font-weight: 500;
        margin-left: 35px;
        margin-top: 60px;
    }
    
    .types2{
        font-size: 50px;
        font-weight: 400;
        text-transform: none;
        line-height: 1.2;
        text-align: center;
        margin-top: 30px;
    }
    
    
    .c-link{
        font-family: Roboto,Helvetica,Arial,sans-serif;
        font-weight: 400;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 2.2rem;
        border-bottom: none;
        color: #007aff;
        text-decoration: none;
    }
    
    .cont__wrapper{
        margin-top: -60px;
        display: grid;
        grid-template-rows: 60px 60px 60px 60px;
        grid-template-columns: 400px;
        
        row-gap: 30px;
        margin-left: 25px;
    }
    
    .cont__item{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
    }
    
    #item{
        margin-top: -55px;
    }
    
}