@media all and (max-width:450px){
    .container{
     width:100%;
    } 

    body{
        background: black;
    }

    .snow{
        display: none;
    }

    .buttons__wrapper{
        display: grid;
        grid-template-columns: 430px 430px 430px;
        grid-template-rows: 430px 430px 430px  430px 430px 430px 430px;
        position: absolute;
        top: 27%;
        left: 12%
      }

      .dnevnik{
        font-size: 0,7em;
        width: 300px;
        height: 300px;
        background-image: url('https://sun9-25.userapi.com/impf/BtxpfFRyyrTYqxBKDmkxDcfC-72Ya1QAhz38eQ/Conq_3J9d7A.jpg?size=600x600&quality=95&sign=6ea73a7dcc5f53c374425825386c701a&type=album'); background-position: center; background-size: 600px 600px;  
    border-radius: 100%;
    
    border: none;
    }
    
   
    
    .dz{
        font-size: 0,7em;
        width: 300px;
        height: 300px;
        background-image: url(https://sun9-55.userapi.com/impf/yhl75jVf9ZUwGmkJiz48pMngN2Xk74RUHOABbg/qmmt_v4brR8.jpg?size=900x900&quality=95&sign=9dc04912fc01c0756570be06816d2723&type=album); background-position: center; background-size: 300px 300px;  
    border-radius: 100%;
    
    
    border: none;
    }
    
    
    
    .email{
        font-size: 0,7em;
        width: 300px;
        height: 300px;
        background-image: url(https://sun9-15.userapi.com/impf/b7wDCShJ8glxukid_TfSty1jr4Vz9UQogz7Q5A/VFeE0kay9uQ.jpg?size=320x320&quality=95&sign=53d3cbb6fe11299a47238beb1dbc6c3a&type=album); background-position: center; background-size: 400px 400px;  
    border-radius: 100%;
    
    
    border: none;
    }
    
   
    
    .vk{
        font-size: 0,7em;
        width: 300px;
        height: 300px;
        background-image: url(https://sun9-11.userapi.com/impf/98eCDIqSK7KoBgacMzuuQXL6aq1LtGBC6G421Q/kjaRMm_e5Ls.jpg?size=320x320&quality=95&sign=bce21b35b1487583607f6885a40a008d&type=album); background-position: center; background-size: 400px 400px;  
    border-radius: 100%;
    
    border: none;
    }
    
    
    
    .youtube{
        font-size: 0,7em;
        width: 300px;
        height: 300px;
        background-image: url(https://sun9-13.userapi.com/impf/zvfFGBmPJaDBVXGe20IBRdVQkSa2qd47iS2RIw/3MCpuVRxFMI.jpg?size=1280x854&quality=95&sign=ec29d1bf6235a6db236a6cdc2eeb6952&type=album); background-position: center; background-size: 530px 400px;  
    border-radius: 100%;
    
    
    border: none;
    }
    
   
    
    .translate{
        font-size: 0,7em;
        width: 300px;
        height: 300px;
        background-image: url(https://sun9-24.userapi.com/impf/vXV8SRY5iDTfI8MGnZey5Putpz1mJedpUcwqKQ/TS_z7CbhWkQ.jpg?size=800x800&quality=95&sign=43ada551bd6156032b4a19ca44ef4525&type=album); background-position: center; background-size: 400px 400px;  
    border-radius: 100%;
    
    
    border: none;
    }
   
    
    .js{
        font-size: 0,7em;
        width: 300px;
        height: 300px;
        background-image: url(https://sun9-55.userapi.com/s/v1/if2/0-jDP8t0AnklXL0QwYThSwwgjnPXhx86R980UmQXsY_yNwslCI-HTD6BK0YLU_bw18j_A-uR0OVwSJkaTpyx925V.jpg?size=225x225&quality=95&type=album); background-position: center; background-size: 390px 390px;  
    border-radius: 100%;
    
    border: none;
    }
    
    
    
    .macmilan{
        font-size: 0,7em;
        width: 300px;
        height: 300px;
        background-image: url(https://sun9-31.userapi.com/impf/H7XoQ-MdBS-1Y1l8adhNpet7dy7dCf97sgWGwA/IIWdill6qHU.jpg?size=920x700&quality=95&sign=ed8a255514e01e63301097b1d5773b60&type=album); background-position: center; background-size: 450px 400px;  
    border-radius: 100%;
    
    
    border: none;
    }
    
   
    
    .git{
        font-size: 0,7em;
        width: 300px;
        height: 300px;
        background-image: url(https://sun9-88.userapi.com/impf/31SaOQPxgn6VF1_g9Qpma-SOxudV-VLxRfMSSw/hpnynv0KpjA.jpg?size=325x320&quality=95&sign=b52fb3c41f9c0c5639617d32ff675c93&type=album); background-position: center; background-size: 310px 310px;  
    border-radius: 100%;
    
    
    border: none;
    }
    
    
    
    .py{
        font-size: 0,7em;
        width: 300px;
        height: 300px;
        background-image: url(https://sun9-6.userapi.com/impf/9lXJVT5M2nZ7qORUdB_jDERPe7pTpzvqP-ZpbA/iFTvPvDhhnk.jpg?size=1000x500&quality=95&sign=16b67b72541c4e30c7a6f6faa8d06270&type=album); background-position: center; background-size: 440px 300px;  
    border-radius: 100%;
    
    border: none;
    }
    
    
    
    .office{
        font-size: 0,7em;
        width: 300px;
        height: 300px;
        background-image: url(https://sun9-15.userapi.com/impf/FsLmeEhuaiJggkcSqG-CgQm6rzuyPKadRovKmA/O1wJxWAI2Hg.jpg?size=1200x1200&quality=95&sign=9033ac275df5f2bb739ed0a153e8e8e8&type=album); background-position: center; background-size: 300px 300px;  
    border-radius: 100%;
    
    border: none;
    }
    
    
    
    .mos{
        font-size: 0,7em;
        width: 300px;
        height: 300px;
        background-image: url(https://sun9-13.userapi.com/impf/1U6F8wRxPp26QLzQ-UIh9_Y6_6VYcbQfFHvFEA/2n1BBukHB18.jpg?size=192x192&quality=95&sign=4f2c5131b3b3d3ea3801d2ce4448abe0&type=album); background-position: center; background-size: 300px 300px;  
    border-radius: 100%;
    
    
    border: none;
    }
    
   
    
    .google{
        font-size: 0,7em;
        width: 300px;
        height: 300px;
        background-image: url(https://sun9-62.userapi.com/impf/fuwXTCIMEaEgX8LE2bkKxXEPfYVP1CNPqIVtnA/KkKZOZ4C9Lo.jpg?size=1280x1280&quality=95&sign=bb158d1df08cbbb40c6ed175b7e59dd1&type=album); background-position: center; background-size: 300px 300px;  
    border-radius: 100%;
    
    
    border: none;
    }
    
    
    
    .mv{
        font-size: 0,7em;
        width: 300px;
        height: 300px;
        background-image: url(https://sun9-31.userapi.com/impf/eo97I4niWZPcRI6AO0-_9Ds83kiZM3p-vYS1hA/FiHZUuc0PpU.jpg?size=700x700&quality=95&sign=8517a40cfe1f40f4aa5bdc259a4f8722&type=album); background-position: center; background-size: 300px 300px;  
    border-radius: 100%;
    
    
    border: none;
    }
    
    
    
    .eld{
        font-size: 0,7em;
        width: 300px;
        height: 300px;
        background-image: url(https://sun9-west.userapi.com/sun9-49/s/v1/if2/jDfJi60klmVsWeYjOTMHveH8_JpbX-8Nv-hRjJN8P6wVGdi4h2foPuOI_qhnCROtOUphaG_SNnmehb6FWNEa8wdk.jpg?size=512x512&quality=95&type=album); background-position: center; background-size: 300px 300px;  
    border-radius: 100%;
    
    
    border: none;
    }
    
   
    
    .ali{
        font-size: 0,7em;
        width: 300px;
        height: 300px;
        background-image: url(https://sun9-73.userapi.com/impf/6FcCBcjBlOrAY_vKhFxnArxkivrkCULygjP8og/eCT3E2691FQ.jpg?size=900x900&quality=95&sign=5d9ec526933c6fa5ea490e32c6864e9c&type=album); background-position: center; background-size: 300px 300px;  
    border-radius: 100%;
    
    
    border: none;
    }
    
    
    .gmail{
        font-size: 0,7em;
        width: 300px;
        height: 300px;
        background-image: url(https://sun9-61.userapi.com/impf/brHhDODlTq-JybGqJ80Cq625Wi1ZVACcAYlCPQ/6RbIQiblP_A.jpg?size=320x320&quality=95&sign=9d8db9d457c7225e6a4f6fdfe2acd822&type=album); background-position: center; background-size: 280px 280px;  
    border-radius: 100%;
    
    
    border: none;
    }
   
    
    .mir{
        font-size: 0,7em;
        width: 300px;
        height: 300px;
        background-image: url(https://sun9-83.userapi.com/impf/-babWWIcqggYgFiQzgitxwKUwFintCX5t9gnMw/moGKvNC-hg0.jpg?size=200x280&quality=95&sign=9051f33573f628e486b7aa0560b3a04e&type=album); background-position: center; background-size: 350px 350px;  
    border-radius: 100%;
    
    
    border: none;
    }
  
    
    .spm{
        font-size: 0,7em;
        width: 300px;
        height: 300px;
        background-image: url(https://sun9-22.userapi.com/impf/jcVJNBYYbuRmZU4EOwL0DB3p_dJ44IU6EoAjvQ/OvFRszyGt4Q.jpg?size=1200x630&quality=95&sign=77221206afe663439d7b2fc269725f14&type=album); background-position: center; background-size: 490px 300px;  
    border-radius: 100%;
    
    border: none;
    }
    
 
    
    
    .oge{
        font-size: 0,7em;
        width: 300px;
        height: 300px;
        background-image: url(https://sun9-84.userapi.com/s/v1/if2/rsyickVd4wbn6RrgNJPuptSLPoNO0P-1MwtwwUm6ZVm8Tk8U3_QYscoYm3ObGxJCJBvdl8AL_B5xKtN0YeiBISZV.jpg?size=667x666&quality=95&type=album); background-position: center; background-size: 300px 300px;  
    border-radius: 100%;
    
    border: none;
    }
 
    .prank{
        font-size: 0,7em;
        width: 300px;
        height: 300px;
        background-image: url(https://sun9-69.userapi.com/s/v1/if2/QLdtZ2vWsq-5leojV0Zo1efgIq7a4r8hXYcrRL8S1o0S26FKCLDHmdH3JQ37RXDawClvlTZprhUCsc87if5Nfy3a.jpg?size=920x512&quality=95&type=album); background-position: center; background-size: 550px 310px;  
    border-radius: 100%;
    
    
    border: none;
    }

}
